<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_top.html.erb'))).result(binding) %>

<h1>
  <%= link_to 'Admin Data', admin_data_path %> 
  >
  <%= link_to @klass, admin_data_list_path(:klass => @klass.name) %> 
  >
  ID (<%= params[:model_id] %>) 
</h1>


<div id='main_content'>

<h2>Editing <%= @klass_name %></h2>

<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_error_message.html.erb'))).result(binding) %>

<%= form_tag({:action => 'update', :model_id => @model.id, :klass => @klass.to_s},{:class => 'nice_form'}) %>
  <%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_form.html.erb'))).result(binding) %>
</form>


</div>
 
<%= File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_bottom.html.erb')) %>