<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_top.html.erb'))).result(binding) %>

<h1>
  <%= link_to 'Admin Data', admin_data_path %> 
  >
  <%= link_to @klass, admin_data_list_path(:klass => @klass.name) %> 
</h1>   


<div id='main_content'>

<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_flash_message.html.erb'))).result(binding) %>

<% if session[:admin_data_search_type] == 'advance' %>
  <%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_advance_search_form.html.erb'))).result(binding) %>     
<% else %>
  <%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_quick_search_form.html.erb'))).result(binding) %>        
<% end %>

<br />

<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_search_results.html.erb'))).result(binding) %>

</div>



<%= File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_bottom.html.erb')) %>