<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_top.html.erb'))).result(binding) %>

<h1>
  <%= link_to 'Admin Data', admin_data_path %> 
</h1>   

<br />
<br />
<div id='main_content'>

   <table cellspacing="3" cellpadding="3" id="view_table" class='colorize'>
     <caption>Migration Information</caption>
     <% @data.each do |record| 
     %>
       <tr>
         <td><%=record.keys.first%></td>  
         <td><%=record.values.first%></td>  
       </tr>
     <% end %>
   </table>  


</div>


<%= File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_bottom.html.erb')) %>