<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_top.html.erb'))).result(binding) %>

<h1>
  <%= link_to 'Admin Data', admin_data_path %> 
  >
  <%= link_to @klass, admin_data_list_path(:klass => @klass.name) %> 
</h1>


<div id='main_content'>


<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_search_tool_bar.html.erb'))).result(binding) %>     

<h2>Creating a new <%= @klass.name %> record</h2>

<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_error_message.html.erb'))).result(binding) %>

<%= form_tag({:action => 'create', :klass => @klass.to_s}, {:class => 'nice_form'}) %>
  <%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_form.html.erb'))).result(binding) %>
</form>

</div>
 
<%= File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_bottom.html.erb')) %>