<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_top.html.erb'))).result(binding) %>


<h1>
  <%= link_to 'Admin Data', admin_data_path %> 
  >
  <%= link_to @klass, admin_data_list_path(:klass => @klass.name) %> 
  >
  <%= link_to "ID #{@model.id}", ''%>  
</h1>   



<div id='main_content'>

<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_flash_message.html.erb'))).result(binding) %>


<%= ERB.new(File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_belongs_to_has_many_info.html.erb'))).result(binding) %>

<% if @controller.send(:admin_data_is_allowed_to_update?) %>
<br />
<div class='update_record_box'>
<%= link_to 'Edit',:action => 'edit', :klass => @klass, :model_id => @model.id %> 
<%= link_to 'Delete', { :action => 'delete', :klass => @klass, :model_id => @model.id } ,{ :confirm => ' You are deleing a record. Are you sure?'} %> 
<%= link_to 'Destroy',{ :action => 'destroy',  :klass => @klass, :model_id => @model.id },{ :confirm => 'You are destroying a record. Are you sure?'} %>
</div>
<% end %>
  
<table cellspacing="3" cellpadding="3" id="view_table">
  <caption><%=@klass%> information for ID <%=@model.id%></caption>
  <% @klass.columns.each_with_index do |column,index| 
  %>
    <tr>
      <th><%= column.name %></th>
      <td>
        <%=h  admin_data_get_value_for_column(column,@model) %>
      </td>
    </tr>
  <% end %>

</table>



</div>

<%= File.read(File.join(RAILS_ROOT,'vendor','plugins','admin_data','lib','views','_bottom.html.erb')) %>