<div id="header">
  <div id='iheader'>

    <div id='logo'>
      <%= link_to 'admin_data', admin_data_index_path %>
    </div>  

    <ul>
      <li class="first <%=AdminData::Util.am_i_active(params, ['main','all_models index show table_structure new create edit'], ['search','search advance_search'])%>">
        <%= link_to 'Home', admin_data_index_path %>
      </li>

      <li class="<%=AdminData::Util.am_i_active(params, ['migration','index'])%>">
        <%= link_to 'Migration Information', admin_data_migration_information_path %>
      </li>

      <li class="<%=AdminData::Util.am_i_active(params, ['diagnostic','index missing_index'],['validate_model','index'])%>">
        <%= link_to 'Diagnostic', admin_data_diagnostic_path %>
      </li>
    </ul>

    <div id='model_drop_down'>
      <%= render '/admin_data/shared/drop_down_klasses', :drop_down_for_klasses => drop_down_for_klasses %>
    </div>

  </div>
  
  <div class='clear'></div>

</div>

<div class='clear'></div>
