<ul>

  <li class="first <%=AdminData::Util.am_i_active(params, ['main','list'],['search','quick_search'])%>">
    <%= link_to 'Quick Search', admin_data_search_path(:klass => klass.name.underscore) %> 
  </li>

  <li class="<%=AdminData::Util.am_i_active(params, ['search','advance_search'])%>">
    <%= link_to 'Advance Search', admin_data_advance_search_path(:klass => klass.name.underscore)  %>
  </li>

  <li class="<%=AdminData::Util.am_i_active(params, ['main','table_structure'])%>">
    <%= link_to 'Table Structure', table_structure_admin_data_on_k_path(:klass => klass.name.underscore) %>
  </li>
  
  <% if admin_data_is_allowed_to_update? %>
    <li class=" <%=AdminData::Util.am_i_active(params, ['main','new'])%> <%=AdminData::Util.am_i_active(params, ['main','create'])%> ">
      <%= link_to '+Add New Record', new_admin_data_on_k_path(:klass => klass.name.underscore) %>
    </li>
  <% end %>  
  
</ul>
