<%= render :partial => 'admin_data/search/search/title', :locals => { 
                                                            :records => records, 
                                                            :total_num_of_children => @total_num_of_children } %>

<div class="pagination">
  <%= will_paginate @records, :container => false, :params => {:klass => klass.name} %>
</div>
<div class='clear'></div>

<table cellspacing="3" cellpadding="3" id="view_table" class='table colorize'>

  <thead>
     <tr>
      <% AdminData::Util.columns_order(klass.name).each do |column| %>
        <th> <%= column %> </th>
      <% end %>
    </tr>
  </thead>

  <% @records.each do |record| %>
    <tr>
      <% AdminData::Util.columns_order(klass.name).each do |column| %>
        <td>
          <% if (column == klass.primary_key) %>
            <%= link_to(record.send(column), admin_data_on_k_path(:klass => klass.name.underscore, :id => record)) %>
         <% else %>
            <%=h  admin_data_get_value_for_column(admin_data_column_native(klass, column), record) %>
          <% end %>  
        </td>
      <% end %>
    </tr>
  <% end %>  
</table>

<div class="pagination">
  <%= will_paginate records, :container => false, :params => {:klass => klass.name.underscore} %>
</div>

<div class='clear'></div>

