<div id='results'>

  <div class="digg_pagination">
    <div class="page_info"><%=page_entries_info @records if !@records.blank? && (@records.size > 0)%></div>
    <%= will_paginate @records, :container => false, :params => {:klass => @klass.name} %>
  </div>


<table cellspacing="3" cellpadding="3" id="view_table" class='table colorize'>

  <% if params[:base] %>
    <caption>
      <%= link_to params[:base] + ' ID ' + params[:model_id], 
          {:action => 'show', :klass => params[:base], :model_id => params[:model_id]} %>
        has 
        <%= pluralize(@total_num_of_children,params[:klass].downcase)%>
    </caption>    
  <% else %>
    <caption><%= params[:klass]%> list </caption>
  <% end %>  
  
  
  
  <tr>
    <% for column in @klass.columns %>
      <td><strong><%= column.name %></strong></td>
    <% end %>
  </tr>

  <% @records.each_with_index do |record,index| 
  %>
    <tr>
      <% for column in @klass.columns %>
        <td>
          <% if column == @klass.columns[0] %>
            <%= link_to(record.send(column.name), 
                        admin_data_show_path(:klass => @klass.name.underscore, :model_id => record.id)) %>
          <% else %>
            <%=h  admin_data_get_value_for_column(column,record) %>
          <% end %>  
          
        </td>
      <% end %>
    </tr>
  <% end %>  

</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @records %>
  </div>
  <%= will_paginate @records, :container => false, :params => {:klass => @klass.name} %>
</div>

</div>
