<% @columns.each do |col| %>
  <div class='col_box'>
    <span class='col_name'><%= col.name %></span>
    <span class='col_type'>[<%= col.type.to_s %>]</span>
  </div>
  <div class='data'>
    <%= admin_data_form_field(klass, @model, col, f).html_safe %>
  </div>  
<% end %>

<% if AdminData::ActiveRecordUtil.declared_habtm_association_names(klass).any? %>
  <div class='data'>
    <%= admin_data_form_field_for_habtm_records(klass, @model, f, '').html_safe %>
  </div>
<% end %>

<div class='group navform' style='padding-top:10px;'>
  <% if params[:action] == 'edit' || params[:action] == 'update' %>
    <% label = 'Update' %>
  <% else %>
    <% label = 'Create' %>
  <% end %>
  <%= f.submit(label, :class => 'button', :disable_with => 'Please wait ...') %>
</div>

<style>
  .col_name { 
    color: #222;
    font-size: 15px;
  }
  .col_type {
    color: dimgray;
  }
  .col_box { 
    margin-top: 20px;
    padding-bottom: 4px;
  }
</style>   
