<% 
@columns = if params[:attr].blank? 
               @klass.columns
            else
               @klass.columns.find_all {|col| params[:attr] == col.name}
            end
%>
<% @columns.each do |col| 
    col_limit = col.limit || 255 %>
    <h2>
      <%= col.name %>
      <span>(<%= col.type.to_s %><%= (col.type == 'string') ? col.limit : '' %>)</span>
    </h2>
    <%= admin_data_form_field(klass, @model, col, f) %>
<% end %>

<div class='group navform'>
  <%= f.submit('Save', :class => 'button', :disable_with => 'Please wait ...') %>
</div>
