<% @columns = params[:attrs].blank? ? @klass.columns : '' %>
<% @columns.each do |col| 
  col_limit = col.limit || 255 %>
  <div class='group'>
    <div class='left'>
      <strong><%= col.name %>:</strong>
      (<%= col.type.to_s %><%= (col.type == 'string') ? col.limit : '' %>)
    </div>
    <div class='right'>
      <%= admin_data_form_field(klass, @model, col, f) %>
    </div>
    <div class='clear'></div>
  </div>
<% end %>

<div class='group navform'>
  <%= f.submit('Save', :class => 'button', :disable_with => 'Please wait ...') %>
</div>
