<div id="header">
  <h1 style='float:left;'>
    <%= link_to 'admin_data', admin_data_path %>
  </h1>
  <div id='model_drop_down' style='float:right;margin:10px;'>
    <select id='drop_down_value_klass' style='font-size:14px;' 
            onchange="window.location.href=this.options[this.selectedIndex].value">
      <option></option>      
      <%= options_for_select(@drop_down_for_klasses,
                             "http://#{request.host_with_port}/admin_data/list?klass=#{params[:klass]}") %>
    </select>
  </div>
  <div style='clear:both;'></div>
  <div id="main-navigation">
    <ul>
      <li class="first <%=admin_data_am_i_active(
                                                 ['main','index list show table_structure new create edit'],
                                                 ['search','advance_search'])%>">
        <%= link_to 'Home', admin_data_path %>
      </li>
      <li class="<%=admin_data_am_i_active(['migration','index'])%>">
        <%= link_to 'Migration Information', admin_data_migration_information_path %>
      </li>
      <li class="<%=admin_data_am_i_active(['diagnostic','index missing_index'])%>">
        <%= link_to 'Diagnostic', admin_data_diagnostic_path %>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>    
