<ul>
  <li class="first <%=admin_data_am_i_active(['main','list'],['search','quick_search'])%>">
    <%= link_to 'Quick Search',admin_data_list_path(:klass => klass.name.underscore) %> 
  </li>
  <li class="<%=admin_data_am_i_active(['search','advance_search'])%>">
    <%= link_to 'Advance Search', admin_data_advance_search_path(:klass => klass.name.underscore)  %>
  </li>
  <li class="<%=admin_data_am_i_active(['main','table_structure'])%>">
    <%= link_to 'Table Structure', admin_data_table_structure_path(:klass => klass.name.underscore) %>
  </li>
  
  <% if admin_data_is_allowed_to_update? %>
  <li class="<%=admin_data_am_i_active(['main','new'])%>">
    <%= link_to '+Add New Record', admin_data_new_path(:klass => klass.name.underscore) %>
  </li>
  <% end %>  
  
</ul>
