<div style='display:none;' id='all_association_info'>
  <%=@all_associations_json%>
</div>

<%= form_tag(admin_data_build_chart_path(:klass => @klass.name),
             :method => 'get',
             :class => 'form ',
             :id => 'build_search_analytics_form') %>

  <%= hidden_field_tag :klass, @klass.name %>

  <table class='build_chart_analytics'>
    <tr>
      <td class='main_klass'>
        <%= select_tag "search[row_1]klass", options_for_select([@klass.name]) %>
      </td>
      <td class='with_type'>
        <%= select_tag "search[row_1]with_type", options_for_select(%w(with without)) %>
      </td>
      <td class='relationship'>
        <%= select_tag "search[row_1]relationship", options_for_select(@all_associations_names) %>
      </td>
      <td class='operator'>
        <%= select_tag "search[row_1]operator", options_for_select(['', 'count =','count >', 'count <']) %>
      </td>
      <td class='operator_value'>
        <%= text_field_tag 'operator_value' %>
      </td>
      <td class='add_link'>
        <%= link_to image_tag('/images/add.png'), '#', :class => 'build_chart_analytics_vs' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "search[row_2]klass", options_for_select([@klass.name]) %>
      </td>
      <td class='with_type'>
        <%= select_tag "search[row_2]with_type", options_for_select(%w(with without)) %>
      </td>
      <td class='relationship'>
        <%= select_tag "search[row_2]relationship", options_for_select(@all_associations_names) %>
      </td>
      <td class='operator'>
        <%= select_tag "search[row_2]operator", options_for_select(['', 'count =','count >', 'count <']) %>
      </td>
      <td class='operator_value'>
        <%= text_field_tag 'operator_value' %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan='4'>
        <input type="submit" value="Build Chart" class='submit_search' id='submit_search' />
      </td>
    </tr>
  </table>

</form>
