<%= render 'bar_chart', :chart_title => @chart_title, 
                        :chart_h_axis_title => @chart_h_axis_title,  
                        :chart_legend_name => @chart_legend_name,
                        :chart_data_s => @chart_data_s,
                        :chart_data_x_axis => @chart_data_x_axis,
                        :chart_width => @chart_width, 
                        :chart_height => @chart_height %>

<div id="main">

  <%= breadcrum do %>
    <%= link_to @klass, admin_data_search_path(:klass => @klass.name) %>
  <% end %>

  <%= render 'admin_data/shared/flash_message', :model => @model %>

  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <%= render 'admin_data/shared/secondary_navigation', :klass => @klass %>
      <div class="clear"></div>
    </div>
    <div class="content rounded">
      <div>
      <h2 class="title" style='float:left;'>Analytics</h2>

      <div style='float:left;margin-top:18px;margin-left:20px;'>
        <%= radio_button_tag :report_type, admin_data_daily_analytics_path(:klass => @klass), params[:action] == 'daily' %> Daily
        &nbsp;
        <%= radio_button_tag :report_type, admin_data_monthly_analytics_path(:klass => @klass), params[:action] == 'monthly' %> Monthly
      </div>

      <div style='float:left;margin-top:18px;margin-left:20px;'>
        <%= link_to 'Build chart', admin_data_chart_builder_path(:klass => @klass.name) %>
      </div>

      <div style='clear:both;'></div>
    </div>


      <div class="inner">
         <div id="chart_div"></div>

      </div>
    </div>
  </div>
</div>
