<%#
  quick search also uses list.html.erb. This is how things were setup in quick _search
  render :action => '../main/list'
  Above statement worked in development mode in mac. However it failed in production mode
  in linux. Hence created a partial called _list. Will investigate this issue further a bit
  later.
%>

<div id="main_big">
  <div class='breadcrum'>
    <%= link_to 'Home',admin_data_path %>
    >
    <%= link_to @klass, admin_data_list_path(:klass => @klass.name.underscore) %> 
  </div>
    
  <%= render 'admin_data/main/misc/flash_message', :model => @model %>

  <p>
    <span class="title"><%= @klass.name %></span>
    <span class='records_count'>(<%= @klass.count %> records)</span>
  </p>        

  <div class="block" id="block-text">
    <div class="secondary-navigation">
      <%= render 'admin_data/main/misc/secondary_navigation', :klass => @klass %>
      <div class="clear"></div>
    </div>          
    <div class="content">         
      <%= render :partial => 'admin_data/search/search/quick_search_form' %>
    </div>
  </div>

  <div class="block" id="block-tables">
    <div class="content">          
      <%= render :partial => 'admin_data/search/search/search_results' %>
    </div>
  </div>
</div>
