<div id="main">

  <% breadcrum do %>
    <%= link_to @klass, admin_data_search_path(:klass => @klass.name.underscore) %> 
    >
    <%= link_to "ID #{@model.id}", ''%>  
  <% end %>

  <h2 class="title">
    Editing <%=@model.class.name%> id <%=@model.id%>
  </h2>        
  
  <%= render 'admin_data/main/misc/flash_message', :model => @model %>

  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <div class="clear"></div>
    </div>         

    <div class="content">          
      <div class="inner">
        <% form_for @klass.name.underscore.to_sym, @model, 
                    :url => admin_data_on_k_path(:klass => @klass.name, :id => @model), 
                    :html=> {:class => 'form', :method => :put} do |f| %>

                       
               <%= render 'admin_data/main/misc/form', :klass => @klass, 
                                                       :f => f %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div id="sidebar">
  <%= render 'admin_data/main/association/association_info', :klass => @klass, :model => @model %>
  <%= render 'admin_data/main/misc/modify_record', :model => @model, :klass => @klass %>
</div>  

<style>
  #main {
   width:70%;
  }
</style>  
