<div id="main">
  <% admin_data_breadcrum do %>
    <%= link_to @klass, admin_data_search_path(:klass => @klass.name.underscore) %> 
    >
    <%= link_to "ID #{@model.id}", ''%>  
  <% end %>

  <h2 class="title">
    Editing <%=@model.class.name%> id <%=@model.id%>
  </h2>        

  <div class="block" id="block-tables">

    <div class="content rounded">          
      <div class="inner umbrella">
        <% url = admin_data_on_k_path(:klass => @klass.name, :id => @model)  
           html_options = {:class => 'form', :method => :put} %>
        <% form_for @klass.name.underscore.to_sym, @model, :url => url, :html=> html_options do |f| %>
          <%= render 'admin_data/shared/flash_message', :model => @model %>
          <%= render 'admin_data/main/misc/form', :klass => @klass, :f => f %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div id="sidebar">
  <%= render 'admin_data/main/association/association_info', :klass => @klass, :model => @model %>
  <%= render 'admin_data/main/misc/modify_record', :model => @model, :klass => @klass %>
</div>  

<style type="text/css">
  #main {
    width:70%;
  }
</style>  
