<div id="main">

  <% breadcrum do %>
    <%= link_to @klass, admin_data_search_path(:klass => @klass.name) %> 
  <% end %>

  <%= render 'admin_data/main/misc/flash_message', :model => @model %>

  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <%= render 'admin_data/main/misc/secondary_navigation', :klass => @klass %>
      <div class="clear"></div>
    </div>          

    <div class="content">          
      <div class="inner">
        <h2>Create a new record</h2>
        <%= form_tag({:action => 'create', :klass => @klass.name.underscore}, {:class => 'form'}) %>
        <%= render 'admin_data/main/misc/form', :klass => @klass %>
        </form>
      </div>
    </div>

  </div>
</div>
