<div id="main">

  <% admin_data_breadcrum do %>
    <%= link_to @klass, admin_data_search_path(:klass => @klass.name) %> 
    >
    <%= link_to "ID #{@model.id}", ''%>  
  <% end %>

  <h2 class="title"><%=@model.class.name%> ID <%=@model.id%></h2>        

  <%= render 'admin_data/shared/flash_message', :model => @model %>
  
  <div class="block" id="block-tables">
    <div class="content rounded">          
      <div class="inner">
        <table class="table with_border" cellspacing="3" cellpadding="3">
          <% AdminData::Util.label_values_pair_for(@model, self).each do |pair| %>
            <tr>
              <td><%=pair[0]%></td>
              <td class='smaller'><%=pair[1]%></td>
            </tr>   
          <% end %>   
        </table>
      </div>
    </div>
  </div>
</div>

<div id="sidebar">
  <%= render 'admin_data/main/association/association_info', :klass => @klass, :model => @model %>
  <%= render 'admin_data/main/misc/modify_record', :model => @model, :klass => @klass %>
</div> 

<style>
  #main {
    width:70%;
  }
  table.with_border td.smaller {
    font-size: 120%;
  }
</style>  
