<div id="main">

<div class='breadcrum'>
    <%= link_to 'Home',admin_data_path %>
    >
    <%= link_to @klass, admin_data_list_path(:klass => @klass.name) %> 
</div>
  
<p>
  <span class="title"><%= @klass.name %></span>
  <span class='records_count'>(<%= @klass.count %> records)</span>
</p>        

<%= render 'admin_data/main/misc/flash_message', :model => @model %>
  
  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <%= render 'admin_data/main/misc/secondary_navigation', :klass => @klass %>
      <div class="clear"></div>
    </div>          
    <div class="content">          
      <h2 class="title"></h2>
      <div class="inner">
      
        <h2> Columns</h2>
        <table class="table colorize">
          <tr>
            <th>Column Name</th>
            <th>Type</th>
            <th>Null</th>
            <th>Default</th>
          </tr>
          <% @klass.columns.each do |column| %>
              <tr>
              <td><%=column.name%></td>
              <td><%=column.type%></td>
              <td><%=column.null%></td>
              <td><%= AdminData::Util.string_representation_of_data(column.default) if column.has_default?%></td>
              </tr>
          <% end %>  
        </table>

        <h2>Index</h2>            
        <% if @indexes.size == 0 %>
          <p>No index was found </p>
        <% else %>  
          <table class="table colorize">
            <tr>
              <th>Info</th>
            </tr>
            <% @indexes.each do |index| %>
                <tr>
                <td><%= index %></td>
                </tr>
            <% end %>  
          </table>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
