<% admin_data_breadcrum do %>
  <%= link_to klass.name, admin_data_search_path(:klass => klass.name.underscore) %> 
<% end %>  

<div class="block" id="block-text">
  <div class="secondary-navigation">
    <%= render 'admin_data/shared/secondary_navigation', :klass => klass %>
    <div class="clear"></div>
  </div>          

  <div class="content">         
    <% if advance_search %>
      <%= render 'admin_data/search/search/advance_search_form', :klass => klass %>
    <% else %>
      <%= render 'admin_data/search/search/search_form', :klass => klass %>
    <% end %>  
  </div>

  <div class='clear'></div>

  <div class='main2 rounded'> 
    <div class="block" id="block-tables">
      <div class="content">          
        <div class='inner'>
          <div id='results'>
            <% if params[:action] == 'quick_search' || request.xhr? %>
              <%= render 'admin_data/search/search/listing', :klass => klass, :records => records %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
