<div id="main">
  <div class="block" id="block-tables">

    <div class="content rounded">          
      <div class='validate_model_umbrella'>

        <div class='lhs'>   
          <h2 class="title">Validate model</h2>
          <div id='error'></div>
            
          <div id='tid' style='display:none'><%=@tid%></div>


          <% form_tag "/admin_data/diagnostic/validate_model?tid=#{@tid}", :method => "post", :id => "validate_model_form" do |f| %>
            <%= check_box_tag 'validate_model_select_all' %>
            <strong>
              <%= label_tag 'Select all models', nil, :for => 'validate_model_select_all' %>
            </strong>  
            <% $admin_data_klasses.each do |klass| %>
              <p>
                <%= check_box_tag klass.name, '1', false, :name => "model[#{klass.name}]" %>
                <%= label_tag klass.name, nil, :id => klass.name.downcase.underscore %>
              </p>
            <% end %>   
            <%= submit_tag('Start validation', :id => 'submit') %>
          <% end %>

          <h3>Previous runs</h3>
          <%@tids.each do |tid| %>
            <p><%= link_to tid, "/admin_data/diagnostic/tid/#{tid}" %></p>
          <% end %>

        </div>

        <div class='rhs'>
          <h2 id='validation_result'>
            Validation result
          </h2>
          <div id='validate_model_rhs_data'></div>
        </div>

        <div class='clear'></div>
      </div>
    </div>
  </div>
</div>

<style>
  .lhs {
    float: left;
    width: 300px;
  }
  .rhs {
    float: left;
  }
  #error {
    color: red;
    font-size: 120%;
  }
  #validate_model_form {
    padding: 10px;
  }
  #validation_result {
    display: none;
    margin-left: 0;
  }
</style>   
