<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      <%= @page_title.blank? ? 'admin_data' : "#{@page_title} - admin_data" %>
    </title>

    <%= AdminData::Util.google_hosted_jquery_ui_css(self) %>

    <%= AdminData::Util.stylesheet_link_tag('base') %>

    <%= AdminData::Util.google_hosted_jquery(self) %>

    <!-- It is breaking the html markup and test is full of messages 
          like ignoring attempt to close string with script Hence not including jquery.form in test -->
    <%= AdminData::Util.javascript_include_tag('vendor/jquery.form') unless Rails.env.test? %> 

    <%= AdminData::Util.javascript_include_tag('vendor/log', 
                                               'validate_model/select_all', 
                                               'validate_model/ajaxify_form', 
                                               'misc/drop_down_change',
                                               'misc/quick_search_input_focus',
                                               'advance_search/global_ajax_setting',
                                               'misc/js_util') %>

    <!-- assert_tag is throwing a lot of warning with these inline javascripts.  
    no need of these javascripts in test mode -->
    <% if params[:action] == 'advance_search' && !Rails.env.test? %>
      <%= AdminData::Util.javascript_include_tag(
                                                 'advance_search/advance_search', 
                                                 'advance_search/advance_search_structure', 
                                                 'advance_search/ajaxify_advance_search',
                                                 'advance_search/act_on_result',
                                                 'advance_search/build_first_row',
                                                 'advance_search/event_bindings',
                                                 'advance_search/trigger_submit_on_domready'
                                                ) %>
    <% end %>
  
  </head>

  <body>
    <noscript>
      <div id="noscript-warning">JavaScript is disabled. A few things might not work properly.</div>
      <br />
      <br />
    </noscript>
    <%= render 'admin_data/shared/header', :drop_down_for_klasses => @drop_down_for_klasses %>
    <div id="container">
      <div id="wrapper">
        <%= yield %>
        <div class="clear"></div>      
      </div>    
      <%= render :partial => 'admin_data/shared/powered_by' %>
    </div>
  </body>
  
</html>
