<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <title>admin_data</title>
    
    <%= AdminData::Util.stylesheet_link_tag('base','green') %>

    <%#
      assert_tag is complaining while parsing inline jquery files. Hence in test mode
      I am including reference to external file
    %>
    <% if Rails.env.test? %>
      <%= javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js') %>
      <%= javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js') %>
    <% else %>
      <%= AdminData::Util.javascript_include_tag('jquery-1.3.2.min','jquery-ui-1.7.custom.min') %>
    <% end %>  

    <% if params[:action] == 'advance_search' %>
      <%= AdminData::Util.javascript_include_tag('search_core','jquery.form') %>
    <% end %>
  
    <script>
      $(document).ready(function(){
        function colorize_table(){
            $('.colorize tr:odd').addClass('odd'); 
            $('.colorize tr:even').addClass('even'); 
        };
        colorize_table();
      });
    </script>
	

  </head>

  <body>
    <div id="container">
      <%= render :partial => 'admin_data/main/misc/header' %>
      <div id="wrapper">
        <%= yield %>
        <div class="clear"></div>      
      </div>    
      <%= render :partial => 'admin_data/main/misc/powered_by' %>
    </div>
  </body>
  
</html>
