<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      <%= @page_title.blank? ? 'admin_data' : "#{@page_title} - admin_data" %>
    </title>

    <%= stylesheet_link_tag('admin_data/admin_data') %>
    <%= javascript_include_tag('admin_data/admin_data') %>
    <%= csrf_meta_tag %>

  </head>

  <body>
    <noscript>
      <div id="noscript-warning">JavaScript is disabled. A few things might not work properly.</div>
      <br />
      <br />
    </noscript>
    <div>
      <%= render 'admin_data/shared/header', :drop_down_for_klasses => @drop_down_for_klasses %>
      <div class='clear'></div>
    </div>
    <div id="container">
      <div id="wrapper">

<div id='main'>
<div class="block" id="block-text">

  <div>
    <h1 class='listing_klass'> Listing <%=@klass.name%></h1>
    <h3 class='total_records_info_klass'><%=total_records_info(@klass)%></h3>
    <div class='clear'></div>
  </div>

  <div class="secondary-navigation">
    <%= render 'admin_data/shared/secondary_navigation', :klass => @klass %>
    <div class="clear"></div>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <div class='clear'></div>

  <div class='main2 rounded'>
    <div class="block" id="block-tables">
      <div class="content">
        <div class='inner'>
          <div id='results'>
            <% if params[:action] == 'quick_search' %>
              <%= render 'admin_data/search/search/listing', :klass => @klass, :records => @records %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

        <div class="clear"></div>
      </div>
      <%= render :partial => 'admin_data/shared/powered_by' %>
    </div>
  </body>

</html>

